

if SHIELD_KND_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y
endif

if SHIELD_KND_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y
endif
