if SHIELD_Kei_DONGLE

config ZMK_KEYBOARD_NAME
    default "Kei Dongle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y
endif

if SHIELD_KEI_LEFT || SHIELD_KEI_RIGHT || SHIELD_KEI_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y
endif
